* {
	transition-duration: 0.2s;
	transition-property: all;
	transition-timing-function: ease-out;
}
.button:hover:not(:active):not(:disabled) {
	scale: 105%;
}
:focus-visible {
	outline: #ffffff40 solid 0.8px;
}
input:user-invalid {
	border-color: red !important;
}
@media (width >= 64rem) {
	:has(> input:user-invalid)::after {
		color: red;
		content: attr(data-errormessage);
		font-family: ggsans;
		font-size: 0.875rem;
		margin-left: 0.25rem;
	}
}
@keyframes fadeInOut {
	0% {
		opacity: 0;
		transform: translate(-50%, 1rem);
	}
	16% {
		opacity: 0.8;
		transform: translate(-50%, 0);
	}

	84% {
		opacity: 0.8;
		transform: translate(-50%, 0);
	}
	100% {
		opacity: 0;
		transform: translate(-50%, 1rem);
		display: none;
	}
}
@keyframes fadeOut {
	to {
		opacity: 0;
		transform: translate(-50%, 1rem);
		display: none;
	}
}
.mention:hover {
	background-color: #5865f2 !important;
	color: white !important;
}
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: #c0c0c048;
}
.deleteButton:hover,
.activeBg:active {
	background-color: #ffffff20 !important;
}
input:checked {
	opacity: 1 !important;
}
.match:hover {
	background-color: rgba(63, 63, 70, 0.75) !important;
}
