name = "ms-bot"
main = "./src/index.ts"
compatibility_date = "2025-12-01"
compatibility_flags = []
workers_dev = false
upload_source_maps = true
send_metrics = false

[observability]
enabled = true
[observability.traces]
enabled = true

[vars]
SEASON_ID = "266660"

[triggers]
crons = ["0 0 * * *", "*/5 * * * *"]

[assets]
directory = "./public"
binding = "ASSETS"

[[vpc_services]]
binding = "BRAWL_STARS"
service_id = "019a5526-d448-7030-8492-1e4572309bc6"
remote = true

[[vpc_services]]
binding = "CLASH_ROYALE"
service_id = "019aa1b8-0c56-7fe3-bc0c-08e43931f508"
remote = true

[[d1_databases]]
binding = "DB"
database_name = "database"
database_id = "8a298455-ac11-4e0c-b160-4db807cf3572"

[[kv_namespaces]]
binding = "KV"
id = "aa87b0da6cf14778b6ae760075fa327f"
preview_id = "b6201e9445474c9fb9293f6ba6a10ffc"

[[workflows]]
name = "predictions-reminders"
binding = "PREDICTIONS_REMINDERS"
class_name = "PredictionsReminders"

[[workflows]]
name = "live-score"
binding = "LIVE_SCORE"
class_name = "LiveScore"

[[workflows]]
name = "brawl-notifications"
binding = "BRAWL_NOTIFICATIONS"
class_name = "BrawlNotifications"

[[workflows]]
name = "reminder"
binding = "REMINDER"
class_name = "Reminder"

[[workflows]]
name = "shorten"
binding = "SHORTEN"
class_name = "Shorten"