name = "ms-bot"
main = "./src/index.ts"
compatibility_date = "2026-02-01"
compatibility_flags = ["nodejs_compat"]
workers_dev = false
upload_source_maps = true
send_metrics = false

[observability]
enabled = true
[observability.traces]
enabled = true

[vars]
SEASON_ID = "serie-a%3A%3AFootball_Season%3A%3A5f0e080fc3a44073984b75b3a8e06a8a"

[triggers]
crons = ["0 0 * * *", "*/5 * * * *"]

[assets]
directory = "./public"
binding = "ASSETS"

[[routes]]
pattern = "ms-bot-interactions.trombett.org"
custom_domain = true
zone_name = "trombett.org"

[[d1_databases]]
binding = "DB"
database_name = "database"
database_id = "8a298455-ac11-4e0c-b160-4db807cf3572"

[[kv_namespaces]]
binding = "KV"
id = "aa87b0da6cf14778b6ae760075fa327f"
preview_id = "b6201e9445474c9fb9293f6ba6a10ffc"

[[workflows]]
name = "brawl-notifications"
binding = "BRAWL_NOTIFICATIONS"
class_name = "BrawlNotifications"

[[workflows]]
name = "clash-notifications"
binding = "CLASH_NOTIFICATIONS"
class_name = "ClashNotifications"

[[workflows]]
name = "predictions-reminders"
binding = "PREDICTIONS_REMINDERS"
class_name = "PredictionsReminders"

[[workflows]]
name = "reminder"
binding = "REMINDER"
class_name = "Reminder"

[[workflows]]
name = "shorten"
binding = "SHORTEN"
class_name = "Shorten"

[[workflows]]
name = "websocket"
binding = "WEBSOCKET"
class_name = "WebSocket"